<div class="jumbotron custom-jumbotron-background">
    <div class="container">
        <h2 class="display-3 jumbo_headerstyle"><i><b>DOW</b></i></h2>
        <h3 class="display-3 jumbo_headerstyle">Healthcare @ Your Doorstep in 3 Simple Steps</h3>
        <br><br>
        <p class="text-center">
            <a class="btn btn-default btn-lg">LEARN MORE</a>
        </p>
    </div>
</div>

