<div class="custom-jumbotron-background3">

    <div class="ng-scope login-form-wrapper">
        <form class=" ng-pristine ng-valid" role="form">
            <h2 class="reg_log_headerstyle" style="margin: 0; color: #fff;">LOGIN</h2>
            <br>
            <div class="form-group">
                <label for="email" class=" control-label">Email</label>
                <div class="">
                    <input type="email" id="email" placeholder="Email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class=" control-label">Password</label>
                <div class="">
                    <input type="password" id="password" placeholder="Password" class="form-control">
                </div>
            </div>

            <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
            </div>
        </form> <!-- /form -->
    </div>


</div>
