<div class="jumbotron custom-jumbotron-background2">
    <div class="container">
        <h2 class="display-3 jumbo_headerstyle"><i><b>DOW</b></i></h2>
        <h3 class="display-3 jumbo_headerstyle">Let's Get Started!</h3>
        <br><br>

    </div>
</div>


<div class="container" style="text-align: center;">

    <div class="col-xs-12 col-lg-6">
        <h2>I'm a Doctor</h2>
        <div>
            <h1><i class="fa fa-user-md fa-4x animated rotateIn" aria-hidden="true"></i></h1>
        </div>
        <br>

        <a class="btn btn-primary" ui-sref="register-common({userType: 'doctor'})">Sign Up</a>

    </div>
    <div class="col-xs-12 col-lg-6">
        <h2>I'm a Patient</h2>
        <div>
            <h1><i class="fa fa-user fa-4x animated rotateIn" aria-hidden="true"></i></h1>
        </div>
        <br>

        <a class="btn btn-primary" ui-sref="register-common({userType: 'patient'})">Sign Up</a>
    </div>

</div> <!-- ./container -->
