<div class="custom-jumbotron-background3">

    <div class="ng-scope" style="
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 50px 63PX;
    width: 360px;
    margin: 0px auto;
    height: 500px;">


        <form name="docForm" class="ng-pristine ng-valid" role="form" ng-submit="ctrl.submit()">

            <h3 class="reg_log_headerstyle" style="margin: 0;"><i>Account Setup</i></h3>
            <!--<h4 class="reg_log_headerstyle" style="margin: 0;"><i>in 3 Simple Steps...</i></h4>-->
            <br>
            <!--<div class="form-group">-->
                <!--<label for="firstName" class="control-label">First Name</label>-->
                <!--<div class="">-->
                    <!--<input type="text" id="firstName" placeholder="First Name" class="form-control" value="" ng-model="ctrl.user.firstName">-->
                <!--</div>-->
            <!--</div>-->


            <!--<form name="docForm" ng-submit="docForm.$valid && ctrl.addDoc()" novalidate>-->

                <!--<div class="form-group">-->

                    <!--<div class="form-group">-->
                        <!--<label for="email">Email:</label>-->
                        <!--<input type="email" id="email" name="email" class="form-control input-normal" size="100"-->
                               <!--ng-model="ctrl.newDoc.email" required>-->
                        <!--<div class="validation" data-ng-show="docForm.email.$touched || docForm.$submitted">-->
                            <!--<div data-ng-show="docForm.email.$error.required">-->
                                <!--<span class="glyphicon glyphicon-alert"></span>-->
                                <!--Email is mandatory.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->




            <!--<div class="form-group">-->
                <!--<label for="lastName" class=" control-label">Last Name</label>-->
                <!--<div class="">-->
                    <!--<input type="text" id="lastName" placeholder="Last Name" class="form-control" value="" ng-model="ctrl.user.lastName">-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="email" class=" control-label">Username</label>
                <div class="">
                    <input type="email" id="email" placeholder="Email" class="form-control" ng-model="ctrl.doc.username" required>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password"
                       class="form-control" size="100" ng-model="ctrl.doc.password" ng-minlength="8" required>

                <!--<label for="cfmpassword">Confirm Password:</label>-->
                <!--<input type="password" id="cfmpassword" name="cfmpassword"-->
                       <!--class="form-control" size="100" ng-model="ctrl.newDoc.password" ng-minlength="8" required>-->

                <div class="help-block" ng-show="docForm.password.$error.required">
                    <p>Please enter a password.</p>
                </div>
                <div class="help-block" ng-show="docForm.password.$invalid&&!docForm.password.$error.required">
                    <p class="text-danger">This password is too short.</p>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label for="password" class=" control-label">Password</label>-->
                <!--<div class="">-->
                    <!--<input type="password" id="password" placeholder="Password" class="form-control">-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <button type="submit" class="btn btn-primary">NEXT</button>
            </div>
        </form> <!-- /form -->
    </div>


</div>

