<div class="custom-jumbotron-background3">

    <div class="ng-scope" style="
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 50px 63PX;
    width: 360px;
    margin: 0px auto;
    height: 500px;">

        <h3 class="reg_log_headerstyle" style="margin: 0;"><i>Thank you!</i></h3>
        <br>
        <br>
        <br>

        <h4 class="reg_log_headerstyle" style="margin: 0;"><i>We'll be in touch very soon...</i></h4>
        <br>

    </div>

</div>