<div class="custom-jumbotron-background3">

    <div class="ng-scope" style="
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 50px 63PX;
    width: 360px;
    margin: 0px auto;
    height: 500px;">

        <form name="docForm" class="ng-pristine ng-valid" role="form" novalidate
              ng-submit="docForm.$valid && ctrl.submit()">

            <h3 class="reg_log_headerstyle" style="margin: 0;"><i>Social Presence</i></h3>
            <br>

            <div class="form-group">
                <label for="google" class=" control-label">Google Account (if any):</label>
                <div class="">
                    <input type="email" id="google" placeholder="" class="form-control" ng-model="ctrl.doc.google_acct">
                </div>
            </div>

            <div class="form-group">
                <label for="facebook" class=" control-label">Facebook Account (if any):</label>
                <div class="">
                    <input type="email" id="facebook" placeholder="" class="form-control" ng-model="ctrl.doc.facebook_acct">
                </div>
            </div>

            <div class="form-group">
                <label for="twitter" class=" control-label">Twitter Account (if any):</label>
                <div class="">
                    <input type="email" id="twitter" placeholder="" class="form-control" ng-model="ctrl.doc.twitter_acct">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    NEXT
                </button>
            </div>


        </form>
    </div>

</div>