<div class="custom-jumbotron-background3">

    <div class="ng-scope" style="
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 50px 63PX;
    width: 360px;
    margin: 0px auto;
    height: 500px;">

        <form name="docForm" class="ng-pristine ng-valid" role="form" novalidate ng-submit="docForm.$valid && ctrl.submit()">

            <h3 class="reg_log_headerstyle" style="margin: 0;"><i>Credentials</i></h3>
            <br>

            <!--<h2 class="reg_log_headerstyle">DOCTOR'S REGISTRATION FORM</h2>-->
            <!--<br>-->

            <!--<h3 class="reg_log_headerstyle"><i>Tell us more about you...</i></h3>-->
            <!--<br><br><br>-->

            <!--<div class="container">-->

            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->

            <!--<h1>Registration Progress</h1>-->

            <!--</div>-->

            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->



            <!--<form name="docForm" ng-submit="docForm.$valid && ctrl.addDoc()" novalidate>-->

            <div class="form-group">
                <label for="smc">SMC Practising Certificate #:</label>
                <input type="text" id="smc" name="smc" class="form-control input-normal" size="100"
                       ng-model="ctrl.doc.smc" ng-minlength="1" ng-maxlength="100" required>
                <div class="validation" data-ng-show="docForm.smc.$touched || docForm.$submitted">
                    <div data-ng-show="docForm.smc.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Please provide your SMC Number.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="degree">Degree:</label>
                <input type="text" id="degree" name="degree" class="form-control input-normal" size="100"
                       ng-model="ctrl.doc.degree" ng-minlength="1" ng-maxlength="100" required>
                <div class="validation" data-ng-show="docForm.degree.$touched || docForm.$submitted">
                    <div data-ng-show="docForm.degree.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Please indicate your degree.
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
            <!--<label for="university">University:</label>-->
            <!--<input type="text" id="university" name="university" class="form-control input-normal" size="100"-->
            <!--ng-model="ctrl.newDoc.university" ng-minlength="1" ng-maxlength="100" required>-->
            <!--<div class="validation" data-ng-show="docForm.university.$touched || docForm.$submitted">-->
            <!--<div data-ng-show="docForm.university.$error.required">-->
            <!--<span class="glyphicon glyphicon-alert"></span>-->
            <!--Please indicate the University of your degree.-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="university">University:</label>
                <select id="university" class="form-control" ng-model="ctrl.doc.university" required>
                    <option value="1">NUS-Duke Medical School</option>
                    <option value="2">Johns Hopkins University</option>
                    <option value="3">Univ Pierre et Marie Curie (Paris VI)</option>
                    <option value="4">Medizinische Universitat Wien, Vienna</option>
                    <option value="5">Ludwig-Maximilians Universitaet Munchen</option>
                    <option value="6">University of Tokyo</option>
                    <option value="7">Universitat Zurich</option>
                    <option value="8">University of Wisconsin-Madison</option>
                    <option value="9">Helsinki University</option>
                </select>
                <div class="validation" data-ng-show="docForm.university.$touched || docForm.$submitted">
                    <div data-ng-show="docForm.university.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Please indicate the University of your degree.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="field">Specialization:</label>
                <input type="text" id="field" name="field" class="form-control input-normal" size="100"
                       ng-model="ctrl.doc.field" ng-minlength="1" ng-maxlength="100" required>
                <div class="validation" data-ng-show="docForm.field.$touched || docForm.$submitted">
                    <div data-ng-show="docForm.field.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Please indicate your field.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    FINISH
                </button>
            </div>

            <!--</form>-->

            <!--</div>-->

            <!--</div>-->

        </form>
    </div>

</div>