
<form class="form-horizontal" role="form">
    <h2 class="reg_log_headerstyle">REGISTRATION FORM</h2>
    <br><br>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name</label>
        <div class="col-sm-9">
            <input type="text" id="firstName" placeholder="Enter First Name" class="form-control" autofocus>

        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name</label>
        <div class="col-sm-9">
            <input type="text" id="lastName" placeholder="Enter Your Last Name" class="form-control" autofocus>

        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="email" id="email" placeholder="Email" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" id="password" placeholder="Password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
        <div class="col-sm-9">
            <input type="date" id="birthDate" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-sm-3 control-label">Country</label>
        <div class="col-sm-9">
            <select id="country" class="form-control">
                <option>Afghanistan</option>
                <option>Bahamas</option>
                <option>Cambodia</option>
                <option>Denmark</option>
                <option>Ecuador</option>
                <option>Fiji</option>
                <option>Gabon</option>
                <option>Haiti</option>
                <option>Singapore</option>
            </select>
        </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
        <label class="control-label col-sm-3">Gender</label>
        <div class="col-sm-6">
            <div class="row">

                <label class="radio-inline">
                    <input type="radio" id="femaleRadio" value="Female">Female
                </label>


                <label class="radio-inline">
                    <input type="radio" id="maleRadio" value="Male">Male
                </label>

            </div>
        </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
        <label class="control-label col-sm-3">Qualifications</label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="nus" value="nus">Duke-NUS Medical School
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="jhu" value="jhu">Johns Hopkins University
                </label>
            </div>
        </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox">I agree to the <a href="#">terms and conditions</a>
                </label>
            </div>
        </div>
    </div> <!-- /.form-group -->
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <button type="submit" class="btn btn-primary btn-block">REGISTER</button>
        </div>
    </div>
</form> <!-- /form -->