
<!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
    <!--<div>-->
        <!--<h3 class="sub_headerstyle">Search Your Book Here</h3>-->
    <!--</div>-->

    <!--<form name="searchForm" ng-submit="searchForm.$valid && ctrl.searchBook()" novalidate>-->

        <!--<div class="form-group">-->
            <!--<label for="title">Book Title:</label>-->
            <!--<input type="text" id="title" name="title" class="form-control" size="200"-->
                   <!--ng-model="ctrl.book.title" ng-minlength="1" ng-maxlength="200" required>-->
            <!--<div class="validation" data-ng-show="searchForm.title.$touched || searchForm.$submitted">-->
                <!--<div data-ng-show="searchForm.title.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Book Title is mandatory.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="author_first">Author Firstname:</label>-->
            <!--<input type="text" id="author_first" name="author_first" class="form-control" size="200"-->
                   <!--ng-model="ctrl.book.author_firstname" ng-minlength="1" ng-maxlength="200" required>-->
            <!--<div class="validation" data-ng-show="searchForm.author_first.$touched || searchForm.$submitted">-->
                <!--<div data-ng-show="searchForm.author_first.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Author Firstname is mandatory.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="author_last">Author Lastname:</label>-->
            <!--<input type="text" id="author_last" name="author_last" class="form-control" size="200"-->
                   <!--ng-model="ctrl.book.author_lastname" ng-minlength="1" ng-maxlength="200" required>-->
            <!--<div class="validation" data-ng-show="searchForm.author_last.$touched || searchForm.$submitted">-->
                <!--<div data-ng-show="searchForm.author_last.$error.required">-->
                    <!--<span class="glyphicon glyphicon-alert"></span>-->
                    <!--Author Lastname is mandatory.-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<button type="submit" class="btn btn-primary">-->
                <!--Submit-->
            <!--</button>-->
        <!--</div>-->

    <!--</form>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">-->
    <!--<div>-->
        <!--<h3 class="sub_headerstyle">Search Results</h3>-->
    <!--</div>-->

    <!--<list-group>-->
        <!--<ul>-->
            <!--<li>-->


            <!--</li>-->


        <!--</ul>-->


    <!--</list-group>-->

    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Title</th>-->
            <!--<th>Author First Name</th>-->
            <!--<th>Author Last Name</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
        <!--<tr>-->
        <!--<tr ng-repeat="t in ctrl.booklist | orderBy:'title'">-->
            <!--<td class="title-alignment">-->
                <!--<a ui-sref="edit({id: t.id})">-->
                    <!--{{ t.title}}-->
                <!--</a>-->

            <!--</td>-->
            <!--<td class="firstname-alignment">{{ t.author_firstname}}</td>-->
            <!--<td class="lastname-alignment">{{ t.author_lastname }}</td>-->
        <!--</tr>-->

        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->


<!--</div>-->