<div class="container">
    <div class="step-1" ng-show="ctrl.step == 'step-1'"></div>
    <div class="step-2" ng-show="ctrl.step == 'step-2'"></div>
    <div class="step-3" ng-show="ctrl.step == 'step-3'"></div>
</div>