.login-form-wrapper{
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 50px 63PX;
    width: 360px;
    margin: 0px auto;
    height: 370px;
}
.jumbo_headerstyle{
    text-align: center;
    color:  slategrey;
    font-weight: bold;
}

.reg_log_headerstyle{
    text-align: center;
    color:  slategrey;
    font-weight: bold;
}

.custom-jumbotron-background{
    background-image: url("project_holdinghands1.jpg");
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 16em;
}

.custom-jumbotron-background2{
    background-image: url("project_holdinghands2.jpg");
    background-size: cover;
    padding-top: 2em;
    padding-bottom: 4em;
}


.custom-jumbotron-background3{
    background-image: url("project_holdinghands3.jpg");
    background-size: cover;
    padding-top: 10em;
    padding-bottom: 0;
    width: 100%;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: -5;
}

.dow-navbar{
    background-color: #ededf0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    border-radius: 0;
}



@media (max-width:768px){
    .login-form-wrapper{
        width: 360px;
    }


}